@{
    ViewData["Title"] = "Inicio";
    Layout = "_AdminLayout";
}

<div>
    <div class="text-center">
      <img src="~/assets/logo2.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="container mb-5">
      abms
    </div>

</div>
