@{
    ViewData["Title"] = "Corrupción en la base de datos";
}

<h2>@ViewData["Title"]</h2>

<p>
    Lamentamos informarle que hubo un error en los datos verificadores en la base de datos<br>
    que desea hacer:
</p>

<div class="row">
    <button type="button" class="btn btn-primary">Recalcular los dígitos verificadores</button>
    <button type="button" class="btn btn-secondary">Restaurar la base de datos al ultimo backup</button>
</div>