@{
    ViewData["Title"] = "Operacion Exitosa";
}

<h2>@ViewData["Title"]</h2>

<p>
   @Model.Message
</p>

<div class="row">
    <a type="button" href='./' class="btn btn-primary">Volver a la página de inicio</a>
</div>
