@{
    ViewData["Title"] = "Operacion Exitosa";
}

<h2>@ViewData["Title"]</h2>

<p>
   @Model.Message
</p>

<div class="row">
    <button type="button" class="btn btn-primary">Volver a la página de inicio</button>
</div>
