@model ApplicationUserView
@using Humanizer


@{
    ViewData["Title"] = "Menu";
}
<div class="container page-container">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
      </ol>
  </nav>

  <div class="mb-5">
  <h1>Acciones disponibles</h1>

  <form asp-action="Export" method="POST">
      <button type="submit" class='btn'>Exportar</button>
  </form>

  <form asp-action="Import" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
		<label for="XmlFile" asp-for="XmlFile" class="control-label">Archivo xml</label>
		<input id="XmlFile" asp-for="XmlFile" type="file" name="XmlFile">
	</div>
    
      <button type="submit" class='btn'>Importar</button>
  </form>

</div>
