@model Dish

<form asp-action="AddDish" method="POST" class="row g-3" enctype="multipart/form-data">
	<div class="mb-3">
		<label asp-for="Title" for="Title" class="form-label">Titulo</label>
		<input asp-for="Title" class="form-control" id="Title" />
	</div>
	<div class="row">
		<div class="col-md-6 mb-3">
			<label asp-for="Price" for="Price" class="form-label">Precio</label>
			<input asp-for="Price" class="form-control" id="Price" />
		</div>
	</div>
	<div class="mb-3">
		<label asp-for="Description" for="Description"  class="form-label">Descripción</label>
		<textarea asp-for="Description" class="form-control" id="Description" rows="3"></textarea>
	</div>
	<div class="mb-3">
		<label asp-for="ImageFile" for="Description"  class="control-label">Imagen</label>
		<input asp-for="ImageFile" accept="image/*" id="Description" rows="3">
	</div>
	<button class="btn btn-primary" type="submit">Agregar</button>
</form>
