@model MessageViewModel

@{
    ViewData["Title"] = "Corrupción en la base de datos";
}

<h2>@ViewData["Title"]</h2>

<p>
    Lamentamos informarle que hubo un error en los datos verificadores en la base de datos<br>
    que desea hacer:
</p>

<div class="row">
    @await Html.PartialAsync(
        "ExecuteDatabaseAction",
        new DatabaseAction(){Action="reset_dv"},
        new ViewDataDictionary(ViewData) {
            { "Action", "Recalcular los dígitos verificadores" },
            {"btn", "btn-light"}
         }
        )

    @await Html.PartialAsync(
        "ExecuteDatabaseAction",
        new DatabaseAction(){Action="restore"},
        new ViewDataDictionary(ViewData) {
            { "Action", "Restaurar la base de datos"},
            {"btn", "btn-secondary"}
            }
        )
</div>