@using Microsoft.AspNetCore.Identity
@using app.Models

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null
        && await userManager.IsInRoleAsync(
            currentUser,
            "Administrator");
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="color: #e11531 !important;">Ver el sitio web</a>
    </li>

    if (isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ApplicationUser" asp-action="Index">Administrar usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Logs">Bitacora</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Claims">Permisos</a>
        </li>
    } else {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Dish" asp-action="User">Mis Inmuebles</a>
        </li>
    }
}
