@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clöe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome6/css/all.css" rel="stylesheet">
    <link href="~/lib/fontawesome6/css/v4-shims.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app.styles.css" asp-append-version="true" />

    @* TODO pasar todo esto a webpack *@
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <script src="~/lib/nunjucks.min.js"></script>
     @* <script src="https://unpkg.com/htmx.org@1.8.0/dist/ext/client-side-templates.js"></script># puede que este este al pedo *@
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>



</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/assets/logo-redondo-chico.png" class="bi me-2" height="32" alt="Cloe">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a class="nav-link px-2 link-dark" asp-area="" asp-controller="Menu" asp-action="Index">Carta</a></li>
        <li> <a class="nav-link px-2 link-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contacto</a></li>
        @* El activo deberia tener link-secondary *@
      </ul>

      <div class="col-md-3 text-end">
        <partial name="_LoginPartial" />
      </div>
    </header>
  </div>
    <div class='page-container container'>
        @RenderBody()
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <div class="d-flex justify-content-center ">

                <a href="https://www.facebook.com/cloe.restaurant/" class="text-muted">
                    <i class="fa-brands fa-facebook fa-2x mx-2"></i>
                </a>
                <a href="https://www.instagram.com/cloe.restaurant/" class="text-muted ml-1">
                    <i class="fa-brands fa-instagram fa-2x mx-2"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
