@using Microsoft.AspNetCore.Identity
@using app.Services
@using app.Models
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject ClaimService ClaimService
@inject UserManager<ApplicationUser> UserManager

@* <ul class="navbar-nav"> *@
<div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="~/assets/login-icon.png" alt="login" width="32" height="32" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser1">

        @* <li>
            <a  class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Configuraciones</a>
        </li> *@


        @if (SignInManager.IsSignedIn(User))
        {
            var currentUser = await UserManager.GetUserAsync(User);

            var isAdmin = currentUser != null && await ClaimService.hasAccess(User, TipoPermiso.SuperUser);
            if (isAdmin) {
                <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="logs">Bitacora</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="ManageUsers" asp-action="Backup">Backup</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Claims">Permisos</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="ApplicationUser" asp-action="Index">Administrar usuarios</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="ServersStatus" asp-action="Index">Administrar servidores</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="ImportExportMenu" asp-action="Index">Importar/Exportar Menú</a></li>
            } else
            {
                <li><a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="User">Administrar Carta</a></li>
            }
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a></li>
            <li>
                <span class="dropdown-item" href="#">
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button  type="submit" class="nav-link btn btn-link text-dark" style="padding-left: 0px;" >Logout</button>
                    </form>
                </span>
            </li>
        } else {
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Registrarse</a></li>
            <li><a class="dropdown-item"  asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        }
    </ul>
</div>

@* </ul> *@
