{
  "ConnectionStrings": {
    // "DefaultConnection": "Server=db;Database=master;User=sa;Password=Your_password123;MultipleActiveResultSets=true"
    "DefaultConnection": "Server=localhost;Database=app;User=sa;Password=Your_password123;MultipleActiveResultSets=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "urls":"http://*:7153;https://*:7154",
  "AllowedHosts": "*"
}
