@{
    ViewData["Title"] = "Contacto";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
    </ol>
</nav>
<div class='container'>
    <div class="contact-layout">
        <div class="text-center contact-logo">
            <img src="~/assets/logo2.png" class="img-fluid float-center" alt="Responsive image">
        </div>
        <partial name="_Contact" />
    </div>
</div>