@{
    ViewData["Title"] = "Inicio";
}

<style>
.fill {
  height: 100% !important;
}
</style>

@* <div class="background-header">
  <img src="~/assets/home.jpg" class="" alt="Responsive image">
</div> *@
<div class="d-flex flex-column justify-content-space-around align-items-center page">

    <div class="text-center">
      <img src="~/assets/logo2.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container mb-5">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
          <a class="btn btn-outline-secondary btn-lg" asp-area="" asp-controller="Menu" asp-action="Index">Conozca nuestra carta</a>
        </div>
      </div>



    </div>
</div>
