<div class='container'>
        <div class="row mb-5 pb-3">
            <div class="col-md-3">
                <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text">
                        <p><span>Dirección:</span> Calle falsa 123 <br> Castelar Buenos Aires 1704</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-phone"></span>
                    </div>
                    <div class="text">
                        <p><span>Teléfono:</span> <a href="tel://1234567920">+ 15 6291 1234</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@inmobiliaria.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-globe"></span>
                    </div>
                    <div class="text">
                        <p><span>Página web</span> <a href="#">inmobiliaria.com</a></p>
                    </div>
                </div>
            </div>  
        </div>
</div>