<div class="pb-3">
  {% for item in data.familiasPatentes %}
    <div id="li-familia-patente-{{item.id}}" class='chip'>
      {{ item.patente.nombre }}
      <button
        hx-delete="/api/FamiliaPatente/{{item.id}}"
        hx-trigger="click"
        hx-target="#patentes"

        type="button"
        class="btn btn-sm btn-link"
        >
          <i class="fa-solid fa-trash-can red"></i>
      </button>
    </div>


  {% else %}
    <li>No tiene patentes</li>
  {% endfor %}

  <div style="display: inline-block;">

    <form id="form">
      <input type="hidden" name="FamiliaId" value="{{data.familia.id}}" />
      <select
        class="form-select chip"
        name="PatenteId"
        aria-label="Seleccione una familia para agregar"
        data-hx-post="/api/FamiliaApi/{{data.familia.id}}/patentes"
        hx-target="#patentes"
        hx-ext='json-enc'
        hx-include="#form"
      >
        <option>Agregar</option>
        {% for item in data.patentesDisponibles %}
            <option value={{ item.id }}>{{ item.nombre }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>

