@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta blockeada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tu cuenta a sido blockeada, por favor comunicate con un adminsitrador</p>
</header>
